<nav>
    <div>
        <img src="/images/logo.png" alt="logo" />
        <h1>HogBloggin</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>