<head>
    <title>HogBloggin</title>
    <link rel="stylesheet" href="/styles/welcome.css"/>
</head>

<header class="welcome">
    <h1>HogBloggin</h1>
    <nav>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
    </nav>
</header>

<div class="introduction">
    <h3>Welcome</h3>
    <p>Sign up and get started by clicking the sign up button, or log in if you are a returning user.</p>
</div>

<div class="bottom">
    <h1>Welcome to Hog Bloggin</h1>
    <p>A blog site for coding</p>
</div>