{{! landing page }}

<head>
  <title>HogBloggin</title>
  <link rel="stylesheet" href="/styles/welcome.css" />
</head>

<header>
  <h1>Welcome to HogBloggin</h1>
</header>

<div id="container">
  <div id="intromessage">
    <h2>Share your coding experiences</h2>
    <p>Click below to sign up or log in if you're a returning user</p>
  </div>
</div>
<div id="buttons">
  <a href="/login" id="btn">Login</a>
  <a href="/signup" id="btn">Sign Up</a>
</div>

<div id="bottom">
  <p>created by Sam</p>
</div>

<p id="copy">&copy; 2023 HogBloggin</p>

<script src="/scripts/welcome.js"></script>
